<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> Alzheimer's Project </title>
        <link rel = "stylesheet" type = "text/css" href = "style5.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class = "topbanner"></div>
        <div class = "out">
            <div class = "top">
                <a href = "#" class = "logo">NYUAD</a>
                <ul>
                    <li><a href = "#" class = "active">Home</a></li>
                    <li><a href = "#">Upload</a></li>
                    <li><a href = "#">About Us</a></li>
                    <li><a href = "#">Legal</a></li>
                </ul>
            </div>
        </div>
        <header style = "min-height: 100vh">
        <div id = "body2">
            <img src = "brainpuzzle.png" id = "brainpuzzle">
            <img src = "computer.png" id = "computerimage">
            <header id = "alzheimerstext">Alzheimer's</header>
            <header id = "detectortext">Detector</header>
            <div id = "btn-container">
                <a href = "#" id = "btn">Explore</a>
            </div>
            <img src = "puzzlepng.png" id = "backgroundpuzzle">
        </div>
        </header>

    </body>
</html>